<img class="logo" width="100" alt="My Logo" src="http://pixelartmaker.com/art/c9f1793d62a7102.png">

<input type="text" class="todo-input" placeholder="What needs to ber done" [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">
<!-- ngModel -> Adding a Model/ keyup.enter -> adding events -->

<div class="todo-item" *ngFor="let todo of todos">
    <!--foreach statement of our todos objects-->
    <div class="todo-item-left">
        <input type="checkbox">
        <div *ngIf="!todo.editing; else editingTodo" class="todo-item-label" (dblclick)="editTodo(todo)">{{todo.title}}</div>
        <!--string interpolation-->
        <ng-template #editingTodo>
            <input type="text" class="todo-item-edit" [(ngModel)]="todo.title" (blur)="doneEdit(todo)" (keyup.enter)="doneEdit(todo)" (keyup.esc)="cancelEdit(todo)" autofocus>
        </ng-template>
    </div>
    <div class="remove-item" (click)="deleteTodo(todo.id)">
        &times;
    </div>
</div>

<div class="extra-container">
    <div><label><input type="checkbox"> Check All</label></div>
    <div>4 items left</div>
</div>

<div class="extra-container">
    <div>
        <button class="active">All</button>
        <button>Active</button>
        <button>Completed</button>
    </div>
    <div>
        <button>Clear Complited</button>
    </div>
</div>
